{erl_opts, [debug_info]}.
{deps, [
       {poolboy,  "1.5.*", {git, "https://github.com/devinus/poolboy.git", {tag, "1.5.1"}}},
       {eper, ".*", {git, "https://github.com/massemanet/eper.git", {tag, "0.97.6"}}},
       {sync, ".*", {git, "https://github.com/rustyio/sync.git", {branch, "master"}}}
]}.

{relx, [{release, { test_app, "0.1.0" },
         [eper,
          sync,
          test_app,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
